@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #222;
  font-size: 2em;
  font-weight: 500;
  color: #0f0;
  text-transform: uppercase;
}

.welcome {
  flex: 1;
  text-align: center;
}

.buttons {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.shutdown {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: #ff0000;
  border: none;
  margin-left: 10px;
}

.restart {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: #fef208;
  border: none;
}
.shutdown:hover {
  background-color: #d31c1c;
}

.restart:hover {
  background-color: #a39c1a;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  overflow: auto;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  /*Si cambiamos el oveflow vuelve el fondo scrolleable*/
  overflow: hidden;
}
.wrapper {
  position: absolute;
  top: 10%;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: auto;
  max-height: 80%;
}
.monitoring {
  padding: 20px;
  left: 0;
  width: 96%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #222;
  border-radius: 4px;
  box-shadow: #000 0px 0px 10px;
  color: #0f0;
  font-size: 1.5em;
  font-weight: 500;
}
.monitoring_item_wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.monitoring_item {
  padding: 5px;
}
.monitoring_user_item {
  padding: 5px;
  font-size: 1pc;
}

.menu {
  margin: auto;
  top: 0;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0f0;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: #222;
  border: none;
  margin-left: 10px;
  box-shadow: #000 0px 0px 10px;
}

.menu_item p {
  font-size: 1.5em;
  font-weight: 500;
  padding: 10px;
  margin: 0;
  flex: 1;
}
button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #0f0;
  width: 100%;
}

form {
  width: 100%;
}
button:hover {
  box-shadow: #000 0px 0px 10px;
  background-color: rgb(27, 196, 27);
}

section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #0f0, #000);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
section span:hover {
  background: #0f0;
  transition: 0s;
}

@media (max-width: 900px) {
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px) {
  section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
